/*
Plugin Name: All social share button
Plugin URI:  
Description: It will add all the social share buttons to the website.
Version:     1.0.0.0
Author:      DevDiz
Author URI:  http://www.devdiz.com/
*/
#ASSB-block{
    color:#000;
}
#ASSB-block .title{
    color:#222;
    font-size: 12px;
}
#ASSB-block a{
    display:inline-block;
    box-shadow: 0 0 0 0 !important; 
    -moz-box-shadow: 0 0 0 0 !important; 
    -webkit-box-shadow: 0 0 0 0 !important;
}
#ASSB-block a img{
    width:32px; 
    height: auto;
    box-shadow: 0 0 0 0 !important; 
    -moz-box-shadow: 0 0 0 0 !important; 
    -webkit-box-shadow: 0 0 0 0 !important;
}